body {
    margin: 0;
}

/*Primary header*/

.logo img {
    width: 180px;
    height: 70px;
    margin: 1rem;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
.primary-header {
    align-items:center;
    justify-content: left;
    background-color: beige;
    height: 80px;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    height: 100%;
    --gap: 0;
}

@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        background: steelblue;
    }
    .navbar-item-right {
        margin-left: none;
    }
    .navbar-item {
        display: block;
    }
}

.navbar-item {
    display: flex;
    align-self: center;
    height: 100% ;
    align-items: center;
}

.primary-navigation a {
    text-decoration: none;
    color:darkolivegreen;
    font-size:larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 12px;
}

.navbar-item:hover {
    border-bottom: 2px solid darkolivegreen;
}

.navbar-item-right {
    margin-left: auto;
}
