body {
    margin: 0;
}

/*Primary header*/

.logo img {
    width: 150px;
    height: 50px;
}
.primary-header {
    display: flex;
    align-items:center;
    justify-content: left;
    background-color: beige;
    flex-wrap: wrap;
    border: 1px solid black;
}

.primary-navigation {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background-color: blue;
    flex-grow: 1;
}

.primary-navigation a {
    text-decoration: none;
}

.navbar-item-right {
    background-color: red;
    margin-left: auto;
}
